<section>

    <p>
        O formulário permite que o usuário envie informações para um sistema por meio da tag
        <strong>&lt;form&gt;</strong>.
    </p>

    <p>
        O atributo <strong>required</strong> é utilizado para tornar um campo obrigatório antes do envio do formulário.
    </p>

    <p>
        <em>O método de envio do formulário define como os dados serão enviados ao servidor. Neste exemplo, é utilizado o método "post".</em>
    </p>

    <form action="sucesso.html" method="get">


        <form action="sucesso.html" method="get">
        <p>
            <label for="nome">Nome:</label><br>
            <input type="text" id="nome" name="nome" required>
        </p>

        <p>
            <label for="email">E-mail:</label><br>
            <input type="email" id="email" name="email" required>
        </p>

        <p>
            <input type="submit" value="Enviar">
        </p>

    </form>

    <p>
        <a href="index.html">Retornar à Página Inicial</a>
    </p>

</section>