<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>

<body>

    <header>
        <h1>Login</h1>
    </header>

    <main>

        {% if mensagem %}
            <p>{{ mensagem }}</p>
        {% endif %}

        <form action="/login" method="POST">

            <p>
                <label for="usuario">Usuário:</label><br>
                <input type="text" id="usuario" name="usuario" required>
            </p>

            <p>
                <label for="senha">Senha:</label><br>
                <input type="password" id="senha" name="senha" required>
            </p>

            <p>
                <input type="submit" value="Entrar">
            </p>

        </form>

        <p>
            Não possui conta?
            <a href="/cadastro">Cadastrar</a>
        </p>

    </main>

</body>

</html>